
{% extends "base.html" %}
{% block content %}

<div class="card-body">
    <h5>TABLE</h4>
    <table class="table">
        <thead>
          <tr>
              <th scope="col">S_1</th>
              <th scope="col">S_2</th>
              <th scope="col">S_3</th>
              <th scope="col">Time-Date</th>
              <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for table in tables %}
          <tr>
              <td>{{ table.s_1 }}</td>
              <td>{{ table.s_2 }}</td>
              <td>{{ table.s_3 }}</td>
              <td>{{ table.time_date }}</td>
              <td><a type="button" class="btn btn-warning" href="/table-update/{{ table.id }}">Update</a>
                  <a type="button" class="btn btn-danger" href="/table-delete/{{ table.id }}">Delete</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    <a type="button" class="btn btn-success" href="{%url 'table-create' %}">Create</a>
</div>

{% endblock %}
